.container {
  min-width: 390px;
  width: 30%;
}

.body {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2px;
}

.body > div {
  margin: 20px 0 0;
}

.body > div:first-child {
  margin: 0;
}

.body > div:last-child {
  margin: 20px 0 0;
}
