.content {
  padding-left: 20px;
  width: 255px;
}

.counter {
  font-weight: bold;
}

.counter:first-letter {
  font-weight: normal;
}

.name {
  font-weight: bold;
  font-size: 14px;
}

.content p {
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content p:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  text-transform: initial;
}

.card {
  min-width: 100%;
}
